*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  color: #808285;
  overflow-anchor: none;
}
.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ==== variable ==== */
:root {
  --first-accent-color: #ffab5e;
  --second-accent-color: #007991;
  --third-accent-color: #447a7e;
  --margin-botom: 30px;
}

/* ==== reset ==== */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ==== blocks ==== */

.title {
  font-size: 70px;
  line-height: 84px;
  font-weight: 700;
  margin: 0;
}

.suptitle-link {
  padding-left: 19px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.suptitle-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: var(--first-accent-color);
  border-radius: 50%;
}

.suptitle-link::after {
  left: 5px;
  top: 1px;
  transform: rotate(-90deg);
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid rgb(64, 69, 75);
  z-index: 2;
}
.btn-accent-color {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 24px;
  background-color: rgb(255, 171, 94);
  color: #fff;
  z-index: 1;
  border-radius: 5px;
}
.icon-play::before {
  display: inline-block;
  transform: rotate(-90deg);
  content: "";
  position: absolute;
  left: -5px;
  top: 3px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  z-index: 2;
}

.title-supline {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-top: var(--margin-botom);
}
.title-supline::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  height: 4px;
  width: 45px;
  border-bottom: 4px dashed var(--first-accent-color);
  transform: skewX(-45deg);
}
.circle-left-link {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
  line-height: 26px;
  width: 36px;
  height: 36px;
  border: 8px solid var(--first-accent-color);
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  transition: all 0.2s ease-in-out;
}
.circle-left-link::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid var(--first-accent-color);
}
.circle-left-link:hover {
  background-color: #ccc;
  border-color: var(--second-accent-color);
}
.circle-left-link:hover:after {
  background-color: #ccc;
  border-color: var(--second-accent-color);
}

.title-second-color {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: var(--third-accent-color);
}
.check-list > li {
  padding-left: 35px;
  position: relative;
}
.check-list > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 28px;
  height: 29px;
  background-image: url(../images/check-icon.png);
  background-size: contain;
}
.features .check-list > li {
  padding-left: 25px;
}
.features .check-list > li::before {
  background-image: url(../images/check-cours.png);
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.list-plus > li,
.list-minus > li {
  padding-left: 40px;
  position: relative;
}
.list-plus > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: #e5741e;
  border-radius: 20px;
}
.list-plus > li::after {
  transform: rotate(90deg);
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 25px;
  height: 4px;
  background-color: #e5741e;
  border-radius: 20px;
}
.list-minus > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: #e5741e;
  border-radius: 20px;
}
.vertical-line-plus .list-plus > li,
.vertical-line-plus .list-minus > li {
  padding-left: 20px;
}
.vertical-line-plus .list-plus > li::before {
  width: 12px;
  height: 3px;
}
.vertical-line-plus .list-plus > li::after {
  width: 12px;
  height: 3px;
}
.vertical-line-plus .list-minus > li::before {
  width: 12px;
  height: 3px;
}
.circle-list {
  list-style: disc;
}
/* ===== header ==== */

.header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 150px 0px;
  color: #fff;
  margin-bottom: 30px;
}
.header-cours {
  height: 68vh;
}
.header-cours .header__content {
  height: 78vh;
}
.header-cours .title {
  font-size: 40px;
  line-height: 40px;
}
.header-cours .header__text {
  font-size: 19px;
  line-height: 35px;
}
.wrapper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    290deg,
    rgba(0, 121, 145, 0.9) 50%,
    rgba(45, 54, 68, 0.9) 100%
  );
  background-color: transparent;
}

.header__top {
  position: fixed;
  width: 100%;
  background-color: var(--second-accent-color);
  z-index: 300;
}
.header__top-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  z-index: 200;
}
.header__logo {
  max-width: 75px;
}
.menu-burger {
  margin-left: auto;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  padding: 5px;
}
.menu-burger.active span {
  transition: all 0.2s ease-out;
}
.menu-burger.active span:nth-child(2) {
  display: none;
}
.menu-burger.active {
  justify-content: space-between;
}
.menu-burger.active span:nth-child(1),
.menu-burger.active span:nth-child(3) {
  position: absolute;
}
.menu-burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.menu-burger.active span:nth-child(3) {
  transform: rotate(135deg) translate(3px, -4px);
}
.menu-burger span {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 3px;
  border-radius: 10px;
}
.menu-burger span + span {
  margin-top: 3px;
}
.menu {
  opacity: 0;
  transform: translateY(-200%);
  display: block;
  background-color: var(--first-accent-color);
  width: 100%;
  position: absolute;
  top: 65px;
  z-index: 10;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.menu.active {
  opacity: 1;
  transform: translateY(0);
}
.menu__list {
  text-align: center;
}

.menu__list-item {
}
.menu__list-item:hover .menu__list-link,
.menu__list-link--active {
  color: #000;
}
.menu__list-link {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 12px 0;
  transition: all 0.3s ease-in-out;
}
.menu__list-item svg {
  width: 25px;
  height: 25px;
  margin-left: 6px;
  transform: translateY(7px);
  padding: 5px;
}
.menu__list-link.menu__list-link--active + svg path {
  fill: #000;
}
.menu__list-link path {
  transition: all 0.3s ease-in-out;
}
.btn-sub-list path {
  transition: all 0.3s ease-in-out;
}

.menu__sublist {
  font-size: 14px;
  line-height: 20px;
  margin-top: -264px;
  opacity: 0;
  transition: all 0.2s ease-out;
  visibility: hidden;
}
.menu__sublist.menu__sublist--active {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.menu__sublist-link {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  padding: 12px 0;
}
.btn-sub-list {
  cursor: pointer;
}

.sublist-overlay {
  position: absolute;
  width: 100%;
  height: 65px;
  top: -65px;
  left: 0;
  background-color: var(--second-accent-color);
  z-index: 100;
}
.menu__list-item:hover svg path {
  fill: #000;
}
.menu__sublist-item:hover .menu__sublist-link {
  color: #000;
}
.arrow-down.menu__list-item--sub-menu-active .menu__list-link {
  color: #000;
}
.arrow-down.menu__list-item--sub-menu-active svg path {
  fill: #000;
}
.menu__sublist-link {
}
.header__search {
  z-index: 1;
  padding-top: 7px;
}
.header__content {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.header__suptitle {
}
.header__suptitle-link {
  margin-bottom: 30px;
}
.header__title {
  margin-bottom: 30px;
}

.header__text {
  font-size: 20px;
  line-height: 37px;
  margin: 0;
}
.header__links {
  margin-top: 50px;
}
.header__links-item {
  position: relative;
  font-size: 15px;
  font-weight: 500;
}
.header__links-item + .header__links-item {
  margin-left: 40px;
}
.header__links-item--icon {
  padding-left: 10px;
}

/* ==== info-text ==== */

.info-box {
  margin-bottom: 80px;
}
.info-box__text {
  font-size: 20px;
  line-height: 37px;
  margin-bottom: 20px;
}
.info-box--cours {
  margin-bottom: 40px;
}
.info-box--cours .info-box__text {
  font-size: 18px;
  line-height: 33px;
}

/* ==== top-tools ==== */

.top-tools {
  margin-bottom: var(--margin-botom);
}
.top-tools__title {
  margin-bottom: 50px;
}
.top-tools__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 100px 60px;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}
.top-tools__item {
  display: flex;
  flex-direction: column;
}
.top-tools__link {
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-bottom: var(--margin-botom);
}
.top-tools__item-img {
  position: relative;
}
.top-tools__item-title {
  margin-bottom: 20px;
  color: var(--second-accent-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  cursor: pointer;
}
.top-tools__item-text {
  line-height: 31px;
}
.top-tools__item-text {
  margin-bottom: var(--margin-botom);
}
.top-tools__box {
  margin: auto auto 0;
}
.top-tools__link:hover {
  transform: scale(1.05);
}

/* ==== video ==== */

.video {
  margin-bottom: 100px;
}

.video iframe {
  min-height: 650px;
  width: 100%;
  margin-bottom: 20px;
}
.video__suptext {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 50px;
}
.video-cours .video__suptext {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 30px;
}
.video-cours .video__suptext a {
  color: rgb(7, 7, 7);
}
.video__box {
  display: flex;
  justify-content: space-between;
}
.video__box-text {
  max-width: 550px;
  margin-right: var(--margin-botom);
}
.video__box-text p {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: var(--margin-botom);
}
.video__box-text a {
  color: rgb(7, 7, 7);
}
.video__box-img {
  min-width: 350px;
}

/* ==== popular-courses ==== */

.popular-courses {
  margin-bottom: 50px;
}
.popular-courses__inner {
  display: flex;
}
.popular-courses__info {
  min-width: 400px;
  margin-right: var(--margin-botom);
  border-right: 2px solid var(--first-accent-color);
}
.popular-courses__suptitle {
  color: rgb(110, 193, 228);
  margin-bottom: 20px;
  font-weight: 700;
}
.popular-courses__title {
  font-size: 30px;
  line-height: 39px;
  color: var(--second-accent-color);
}
.popular-courses__desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.popular-courses__text {
  font-size: 17px;
  line-height: 30px;
  max-width: 420px;
  padding-bottom: var(--margin-botom);
}
.popular-courses__link {
  margin-left: 50px;
}

/* ==== benefits ==== */

.benefits {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 100px;
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  position: relative;
  max-width: 213px;
  color: #fff;
}
.benefits__item-title {
  margin-bottom: var(--margin-botom);
}

.benefits__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}
.benefits__box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  position: relative;
  margin-bottom: -80px;
  padding: 40px 40px 30px;
}
.benefits__box-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: rgb(22, 22, 22);
  margin-bottom: var(--margin-botom);
}
.benefits__box-subtitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--second-accent-color);
  margin-bottom: 50px;
}
.benefits__box-link {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  position: relative;
}
.benefits__box-link::before {
  border-top: 5px solid #000;
}
.benefits-cours {
  padding: 80px 0 50px;
  margin-bottom: var(--margin-botom);
}
.benefits-cours .benefits__box-suptitle {
  font-size: 15px;
  font-weight: 700;
  color: rgb(7, 7, 7);
  margin-bottom: var(--margin-botom);
}
.benefits-cours .benefits__box-title {
  color: var(--third-accent-color);
}
.benefits__list {
  margin-left: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.benefits__list .benefits__item {
  width: 300px;
}
.benefits__list .benefits__item--3span {
  grid-column: 3 span;
  width: 100%;
  max-width: 100%;
}
.benefits__list .benefits__item:last-child {
  grid-column: 3 span;
  width: 100%;
  max-width: 100%;
}
.benefits__list-monday {
  grid-template-columns: repeat(4, 1fr);
}
.benefits__list-monday .benefits__item--3span {
  grid-column: 1 span;
}
.benefits__list-monday .benefits__item {
  width: 150px;
}
.benefits__item--4column {
  grid-column: 4 span;
}

/* ==== questions ==== */

.questions {
  margin-bottom: 100px;
}
.questions__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.questions__box {
  max-width: 520px;
}
.questions__box-suptitle {
  color: var(--second-accent-color);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: var(--margin-botom);
}
.questions__box-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: var(--margin-botom);
  color: #000;
}
.questions__box-text {
  font-size: 18px;
  line-height: 33px;
}
.questions__box-text a {
  color: rgb(7, 7, 7);
}
.questions__box-text + .questions__box-text {
  margin-top: var(--margin-botom);
}
.questions__box-item {
  display: flex;
  margin-bottom: var(--margin-botom);
}
.questions__box-item-link {
  margin-left: auto;
  margin-right: 20px;
}
.questions__box-item-title {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(7, 7, 7);
}
.questions__box-item-text {
  font-size: 18px;
  line-height: 30px;
}

/* ==== posts ==== */

.posts {
  margin-bottom: 50px;
}
.posts__list {
  padding-bottom: var(--margin-botom);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--margin-botom);
  border-bottom: 1px solid #000;
}
.posts__list-item {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
}
.posts__list-item:hover {
  box-shadow: rgb(0 0 0 / 20%) 5px 10px 20px 0px;
}
.posts__list-img {
  object-fit: cover;
  width: 100%;
  max-height: 220px;
  min-height: 220px;
  margin-bottom: var(--margin-botom);
}
.posts__list-desc {
  padding-bottom: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.posts__list-title {
  padding: 0 30px;
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  color: rgb(84, 89, 95);
  margin-bottom: var(--margin-botom);
}
.posts__list-text {
  padding: 0 30px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: var(--margin-botom);
}
.posts__list-link {
  padding: 0 30px;
  margin-bottom: 15px;
  margin-top: auto;
  color: var(--first-accent-color);
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: var(--margin-botom);
  border-bottom: 1px solid rgb(223, 222, 222);
}
.posts__list-date {
  padding: 0 30px;
  font-size: 12px;
}

/* ==== partners ==== */

.partners {
  text-align: center;
  margin-bottom: 100px;
}
.partners__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--first-accent-color);
  margin-bottom: var(--margin-botom);
}
.partners__img {
  display: block;
  margin-bottom: var(--margin-botom);
  padding-bottom: var(--margin-botom);
  border-bottom: 1px solid #000;
}
.partners__img img {
  max-width: 266px;
}
.partners__link {
  display: inline-block;
}
.partners__link img {
  max-width: 50px;
}
.form-top-line {
  margin: 0 auto 40px;
  max-width: 1280px;
  background-color: rgb(197, 195, 195);
  height: 1px;
}
.main-form {
  margin-bottom: var(--margin-botom);
}
.main-form__title {
  font-weight: 400px;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
  color: #000;
}
.main-form__text {
  font-size: 15px;
  line-height: 27px;
  color: #000;
  margin-bottom: 50px;
}
.main-form__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-form__item {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
}
.main-form__input-textarea {
  min-height: 250px;
  width: 100%;
  border-color: #dddee0;
  resize: none;
  padding: 20px;
  background-color: #fafafa;
  margin-bottom: 10px;
}
.main-form__inner > input {
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 31%;
  padding: 12px 20px;
  border-color: #dddee0;
  border-style: solid;
  background-color: #fafafa;
  font-size: 15px;
}
.main-form__inner > input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.main-form__input-saveme {
  margin-right: 20px;
}
.main-form__box {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-botom);
  width: 100%;
}
.main-form__input-text {
  font-size: 15px;
  line-height: 27px;
}
input.main-form__submit {
  font-size: 15px;
  line-height: 27px;
  padding: 10px 15px;
  width: 128px;
  min-width: 0;
  border: none;
  background-color: #000;
  color: #fff;
}
.footer {
  border-top: 2px solid #000;
  background-color: rgb(240, 240, 240);
}
.footer__inner {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  max-width: 210px;
}
.footer__item p,
.footer__item li {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.footer__item a {
  color: #808285;
}
.footer__item-title {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: var(--margin-botom);
  font-weight: 400;
  color: #000;
}
.footer__item-text {
  font-size: 15px;
  line-height: 28px;
}
.footer__copy {
  height: 108px;
  background-color: var(--second-accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
}
.footer__item--contacts {
  max-width: 260px;
}

/* ==== description-tools ==== */

.description-tools {
  font-size: 18px;
  line-height: 33px;
  color: #000;
  margin-bottom: 60px;
}
.description-tools__title {
  margin-bottom: 50px;
}

/* ==== best-projects ==== */

.best-projects {
  margin-bottom: 50px;
}
.best-projects__list {
  font-size: 21px;
  line-height: 39px;
  color: #000;
}
.best-projects__title {
  margin-bottom: 30px;
}

.remote-projects__list-item {
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-botom);
}
.remote-projects__list-img {
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: var(--margin-botom);
}
.remote-projects__list-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: var(--margin-botom);
  color: var(--third-accent-color);
}
.remote-projects__list-text {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: var(--margin-botom);
}
.remote-projects__compare-box {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  line-height: 39px;
}
.remote-projects__link {
  margin-top: var(--margin-botom);
  align-self: center;
}

/* ==== description ===== */

.description {
  color: #000;
}
.description__list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.description__list-item ol:last-child {
  margin-bottom: 0;
}
.description__list-item ul:last-child {
  margin-bottom: 0;
}
.description__list-item p:last-child {
  margin-bottom: 0;
}
.description__list-title {
  margin-bottom: var(--margin-botom);
}
.description__list-text {
  font-size: 18px;
  line-height: 33px;
}
.description__list-points {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: var(--margin-botom);
}
.description__list-text {
  margin-bottom: var(--margin-botom);
}
.description__list-img {
  max-width: 630px;
  align-self: center;
  margin-bottom: var(--margin-botom);
}
.description__list-subtitle {
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: var(--margin-botom);
  color: var(--third-accent-color);
}
.management-post-list {
  padding-bottom: 0;
  border-bottom: none;
}

/* ==== description__text ==== */

.description__text {
  margin-bottom: 100px;
}
.description__text p {
  font-size: 20px;
  line-height: 37px;
}
.description__text a {
  color: rgb(7, 7, 7);
}

/* ==== best-courses ==== */

.best-courses {
  margin-bottom: 200px;
}
.best-courses__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(4, 4, 4);
  margin-bottom: 60px;
}
.best-courses__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.best-courses-img {
  margin-bottom: var(--margin-botom);
  transition: all 0.3s ease-in-out;
  width: auto;
  max-width: 500px;
}
.best-courses-img:hover {
  transform: scale(1.05);
}
.best-courses__item {
  display: flex;
  flex-direction: column;
}
.best-courses__item + .best-courses__item {
  margin-left: var(--margin-botom);
}
.best-courses__item-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}
.best-courses__item-text {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: var(--margin-botom);
}
.best-courses__item-box {
  margin-top: auto;
  text-align: center;
}
.best-courses__link-img {
  text-align: center;
}

/* ===== articles-header ===== */

.articles-header {
  height: 53vh;
}
.articles-header .title {
  font-size: 40px;
  line-height: 40px;
}
.articles-header .header__content {
  height: 60vh;
  max-width: 570px;
}
.articles-header .header__text {
  font-size: 15px;
  line-height: 27px;
}

/* ===== articles-info-box ===== */

.posts__list--arcticles {
  border-bottom: none;
}

.articles-info-box {
  margin-top: 100px;
}

.articles-info-box .info-box__text {
  max-width: 720px;
  font-size: 15px;
  line-height: 27px;
  margin: 0 auto;
  text-align: center;
}
.articles-info-box .info-box__text a {
  color: rgb(7, 7, 7);
}

/* ====== pagination ====== */

.pagination__list {
  display: flex;
  justify-content: center;
  color: rgb(7, 7, 7);
}
.pagination__list-item + .pagination__list-item {
  margin-left: 10px;
}

/* ====== vertical-line ====== */

.vertical-line {
  margin-bottom: 80px;
}
.vertical-line__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vertical-line__item {
  width: 50%;
}
.vertical-line__item + .vertical-line__item {
  padding-left: 40px;
  border-left: 2px solid #000;
}
.vertical-line__suptitle {
  font-size: 15px;
  font-weight: 700;
  color: var(--second-accent-color);
  margin: 0 0 20px;
}
.vertical-line__title {
  font-size: 30px;
  font-weight: 700;
  color: var(--second-accent-color);
}
.vertical-line__text {
  font-size: 15px;
  line-height: 27px;
}
.vertical-line-cours .vertical-line__suptitle {
  color: rgb(7, 7, 7);
}
.vertical-line-cours .vertical-line__text {
  font-size: 16px;
  line-height: 29px;
}
.vertical-line-cours .vertical-line__text a {
  color: rgb(7, 7, 7);
}
.vertical-line-cours .vertical-line__item {
  flex: 1;
}
.vertical-line-cours .vertical-line__item:first-child {
  max-width: 380px;
}
.vertical-line-cours .vertical-line__text + .vertical-line__text {
  margin-top: 20px;
}
.vertical-line-plus .vertical-line__item-list {
  font-size: 15px;
  line-height: 27px;
  color: rgb(7, 7, 7);
}
vertical-line-plus

/* ====== features ====== */

.features {
  margin-bottom: 50px;
}
.features__inner {
  display: flex;
  justify-content: space-between;
}
.features__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: var(--second-accent-color);
  max-width: 330px;
}
.features__list {
  font-size: 15px;
  line-height: 27px;
  margin-left: var(--margin-botom);
  max-width: 343px;
  color: rgb(84, 89, 95);
}

/* ===== price ===== */

.price {
  margin-top: 60px;
  margin-bottom: 100px;
}
.price__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.price__img {
  text-align: center;
  margin-bottom: 50px;
}
.price__text {
  font-size: 16px;
  line-height: 29px;
  color: rgb(122, 122, 122);
  margin-bottom: var(--margin-botom);
}
.price__text:last-of-type {
  margin-bottom: 100px;
}
.price__text a {
  color: rgb(7, 7, 7);
}

.price__list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 285px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 40px 20px;
}

.price__list-title {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: #000;
}
.price__list-subtitle {
  font-size: 15px;
  line-height: 27px;
  color: rgb(4, 4, 4);
  margin-bottom: 60px;
}
.price__list-cost {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  font-size: 85px;
  line-height: 68px;
  font-weight: 900;
  margin-bottom: 50px;
}
.price__list-cost--fixed {
  font-size: 40px;
  line-height: 40px;
}
.price__list-currency {
  font-size: 29px;
  line-height: 29px;
}
.price__list-month {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.price__list-text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: var(--margin-botom);
  max-width: 180px;
}
.price__list-link {
  margin-top: auto;
  width: 180px;
  text-transform: uppercase;
}
.price-3column .price__list {
  grid-template-columns: repeat(3, 1fr);
}
.price-3column .price__list-item {
  min-width: 355px;
}
.price-3column .price__list-text {
  max-width: 200px;
}
.price__list-item--clickup .price__list-cost {
  margin-top: 70px;
}

/* ====== description-cours ======= */

.description-cours {
  padding: 80px 0;
  background-color: rgb(31, 149, 173);
  color: #fff;
  margin-bottom: 80px;
}
.description-cours__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description-cours__suptitle {
  font-size: 15px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 400;
}
.description-cours__title {
  position: relative;
  max-width: 320px;
  font-size: 55px;
  padding-bottom: 20px;
}
.description-cours__title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--first-accent-color);
}
.description-cours__list {
  max-width: 610px;
}
.description-cours__list-item {
  position: relative;
  padding-left: 30px;
}
.description-cours__list-item + .description-cours__list-item {
  margin-top: 40px;
}
.description-cours__list-item svg {
  position: absolute;
  left: 0;
  top: 4px;
}
.description-cours__list-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.description-cours__list-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

/* ===== includes-box ===== */

.includes-box {
  font-size: 16px;
  line-height: 29px;
}

/* ===== card-box ===== */

.card-box__inner {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
}
.card-box__item {
  padding-bottom: 20px;
  max-width: 340px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 64px 200px 0px;
  border-radius: 20px;
}
.card-box__item-img {
  border-radius: 20px;
  margin-bottom: 30px;
}
.card-box__item-title {
  padding: 0 40px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--second-accent-color);
}
.card-box__item-text {
  padding: 0 40px;
  font-size: 15px;
  line-height: 27px;
}

/* ====== offer-box ======= */

.offer-box {
  margin-bottom: 50px;
}
.offer-box__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.offer-box__title {
  font-size: 30px;
  color: var(--third-accent-color);
  margin-bottom: 20px;
}

/* ===== viima-text ===== */

.viima-text,
.monday-text,
.clickup-text {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 50px;
}
.viima-text p,
.monday-text p,
.clickup-text p {
  margin-bottom: var(--margin-botom);
}
.clickup-text__title{
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: var(--margin-botom);
  color: var(--second-accent-color);
}

/* ===== monday-text ====== */

.monday-text a {
  color: rgb(7, 7, 7);
}

/* ====== adptive ======= */

@media (max-width: 1230px) {
  .header__content {
    padding-left: var(--margin-botom);
  }
}
@media (max-width: 1100px) {
  .video iframe {
    min-height: 500px;
  }
  .popular-courses__link {
    min-width: 126px;
  }
  .best-courses-img {
    max-width: 420px;
  }
  .price__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1150px) {
  .price-3column .price__list-item {
    min-width: 300px;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 57px;
    line-height: 77px;
  }
  .header {
    height: 80vh;
  }
  .header.articles-header {
    height: 50vh;
  }
  .header__content {
    max-width: 730px;
    height: 80vh;
  }
  .header__content.articles-header {
    height: 60vh;
  }
  .header__text {
    font-size: 18px;
  }
  .top-tools__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 40px;
  }
  .features__title {
    font-size: 25px;
    max-width: 280px;
  }
  .features__list {
    margin-left: 10px;
  }
  .price-3column .price__list-item {
    min-width: 280px;
  }
}
@media (max-width: 965px) {
  .benefits__inner {
    flex-wrap: wrap;
  }
  .benefits__item {
    margin-bottom: 20px;
  }
  .popular-courses__info {
    min-width: 250px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__item {
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .footer__item:nth-child(4) {
    max-width: 100%;
    width: 100%;
  }
  .footer__item-title {
    margin-bottom: 10px;
  }
  .best-courses-img {
    max-width: 350px;
  }
  .description__list-img {
    max-width: 70%;
    align-self: center;
    margin-bottom: var(--margin-botom);
  }
  .features__title {
    font-size: 22px;
    max-width: 233px;
  }
  .price__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .benefits-cours .benefits__inner {
    padding-left: 40px;
  }
  .benefits-cours {
    padding: 40px 0 30px;
  }
  .benefits-cours .benefits__list {
    margin-left: 0;
  }
  .benefits-cours .benefits__box {
    margin-bottom: 30px;
    padding: 20px 40px 20px;
  }
  .benefits-cours .benefits__item {
    margin-bottom: 0;
  }
  .price-3column .price__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .price-3column .price__list-item {
    grid-template-columns: repeat(2, 1fr);
    min-width: 300px;
  }
}
@media (max-width: 850px) {
  .video {
    margin-bottom: 30px;
  }
  .video iframe {
    min-height: 350px;
  }
  .video p {
    font-size: 17px;
    line-height: 25px;
  }
  .video__box {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .video__box-img img {
    width: 50%;
    margin-bottom: 20px;
  }
  .benefits {
    margin-bottom: 50px;
  }
  .questions__inner {
    display: block;
  }
  .questions__box-suptitle {
    width: 100%;
  }
  .questions__box {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .questions__box-title {
    margin-bottom: 10px;
  }
  .questions__box-text {
    font-size: 16px;
    line-height: 27px;
  }
  .posts__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .description-tools__title,
  .best-projects__title {
    font-size: 25px;
    line-height: 32px;
  }
  .best-projects__list {
    font-size: 18px;
    line-height: 28px;
  }
  .best-courses-img {
    max-width: 320px;
  }
  .header-cours .title {
    font-size: 30px;
    line-height: 30px;
  }
  .features__inner {
    display: block;
  }
  .features__title {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .features__list {
    max-width: 100%;
  }
  .features__list + .features__list {
    margin-top: 20px;
  }
  .description-cours__list {
    max-width: 451px;
  }
  .card-box__inner {
    display: block;
  }
  .card-box__item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .card-box__item-img {
    align-self: center;
  }
  .card-box__item + .card-box__item {
    margin-top: var(--margin-botom);
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .header {
    height: 70vh;
  }
  .header__content {
    padding-left: 0;
    height: 80vh;
  }
  .header.articles-header {
    height: 45vh;
  }
  .articles-header .header__content {
    height: 50vh;
  }
  .header__text {
    font-size: 15px;
    line-height: 27px;
  }
  .header__suptitle-link {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .info-box__text {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 56px;
  }
  .popular-courses__inner {
    text-align: center;
    display: block;
  }
  .popular-courses__info {
    border: none;
  }
  .popular-courses__desc {
    display: block;
  }
  .popular-courses__text {
    margin: 0 auto 10px;
    padding-bottom: 0;
  }
  .popular-courses__title {
    margin-bottom: 20px;
  }
  .popular-courses__suptitle {
    margin-bottom: 10px;
  }
  .popular-courses__link {
    margin-left: 0;
  }
  .footer__inner {
    flex-direction: column;
    padding: 30px 0;
  }
  .footer__item {
    max-width: 100%;
    width: 100%;
  }
  .best-courses__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  .best-courses-img {
    max-width: 70%;
  }
  .best-courses__item {
    text-align: center;
  }
  .best-courses__item + .best-courses__item {
    margin-left: 0;
  }
  .best-courses {
    margin-bottom: 100px;
  }
  .articles-header .title {
    font-size: 30px;
  }
  .vertical-line__inner {
    display: block;
  }
  .vertical-line__item {
    width: 100%;
  }
  .vertical-line__item + .vertical-line__item {
    margin-top: var(--margin-botom);
    padding-left: 0;
    border-left: none;
  }
  .description-cours__inner {
    display: block;
    text-align: center;
  }
  .description-cours__list {
    max-width: 100%;
  }
  .description-cours__list-item {
    padding-left: 0;
  }
  .description-cours__list-item svg {
    position: static;
    margin-bottom: 10px;
  }
  .description-cours__title {
    max-width: 100%;
    font-size: 35px;
    margin-bottom: var(--margin-botom);
  }
  .description-cours__title:before {
    left: 50%;
    transform: translateX(-50%);
  }
  .benefits-cours .benefits__list {
    display: block;
  }
  .benefits-cours .benefits__inner {
    display: block;
  }
  .benefits-cours .benefits__item {
    width: 100%;
    max-width: 100%;
  }
  .vertical-line-plus {
    padding-left: 50px;
  }
}
@media (max-width: 730px) {
  .benefits__inner {
    flex-direction: column;
  }
  .benefits__item {
    max-width: 100%;
  }
  .benefits__item-title {
    margin-bottom: 8px;
  }
  .benefits__item-text {
    font-size: 15px;
    line-height: 22px;
  }
  .remote-projects__compare-box {
    flex-wrap: wrap;
    font-size: 19px;
    line-height: 37px;
  }
  .remote-projects__compare-box-list + .remote-projects__compare-box-list {
    margin-top: var(--margin-botom);
  }
}
@media (max-width: 660px) {
  .top-tools__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px 40px;
  }
  .top-tools__link-img {
    width: 65%;
  }
  .top-tools__item {
    align-items: center;
  }
  .top-tools__link {
    text-align: center;
    margin-bottom: 20px;
  }
  .top-tools__item-title {
    margin-bottom: 10px;
  }
  .top-tools__item-text {
    line-height: 26px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .questions__box-title {
    font-size: 26px;
    line-height: 31px;
  }
  .questions {
    margin-bottom: 50px;
  }
  .posts__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .posts__list-img {
    min-height: 300px;
  }
  .partners {
    margin-bottom: 50px;
  }
  .main-form__text {
    margin-bottom: 10px;
  }
  .main-form__inner {
    display: block;
  }
  .main-form__inner > input {
    min-width: 100%;
    margin-bottom: 10px;
  }
  .main-form__input-textarea {
    min-height: 125px;
  }
  .main-form__input-text {
    font-size: 15px;
    line-height: 20px;
  }
  input.main-form__submit {
    min-width: max-content;
    margin: 0 auto;
  }
  .description__list-title {
    font-size: 25px;
    line-height: 32px;
  }
  .description__list-subtitle {
    font-size: 20px;
    line-height: 27px;
  }
  .articles-info-box {
    margin-top: 50px;
  }
  .info-box--cours .info-box__text {
    font-size: 16px;
    line-height: 29px;
  }
  .price__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .price__list-item {
    max-width: 90%;
  }
  .price__list-text {
    max-width: 90%;
  }
  .benefits-cours .benefits__inner {
    padding-left: 0;
  }
  .price-3column .price__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-3column .price__list-item {
    min-width: auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header {
    height: 80vh;
  }
  .header-cours .header__content {
    height: 90vh;
  }
  .header-cours .header__text {
    font-size: 17px;
    line-height: 29px;
  }
  .header__content {
    height: 80vh;
  }
  .title {
    font-size: 34px;
    line-height: 47px;
    margin-bottom: 18px;
  }
  .benefits__box {
    width: 100%;
  }
  .benefits__box-title {
    margin-bottom: 15px;
  }
  .benefits__box-subtitle {
    margin-bottom: 20px;
  }
  .footer__copy p {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__copy p span {
    margin-bottom: 20px;
  }
  .video iframe {
    min-height: 230px;
  }
  .video__box-img {
    min-width: 100%;
  }
  .price__list-item {
    padding: 30px 10px;
    width: 100%;
  }
  .price__list-title {
    font-size: 30px;
  }
  .price__list-subtitle {
    margin-bottom: var(--margin-botom);
  }
  .description-cours__title {
    font-size: 28px;
  }
  .description-cours__list-title {
    font-size: 21px;
  }
  .card-box__item-title {
    padding: 0 20px;
  }
  .card-box__item-text {
    padding: 0 20px;
  }
  .vertical-line-plus {
    padding-left: 0;
  }
  .price__list-num {
    font-size: 57px;
    line-height: 52px;
    margin: 0 5px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
  .header__content {
    height: 86vh;
  }
  .header__links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .header__links-item {
    place-self: flex-start;
  }
  .header__links-item + .header__links-item {
    margin-top: 20px;
    margin-left: 15px;
  }
}

@media (max-width: 360px) {
  .header__links-item + .header__links-item {
    margin-left: 20px;
  }
}
