*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  color: #808285;
  overflow-anchor: none;
}
.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ==== variable ==== */
:root {
  --first-accent-color: #ffab5e;
  --second-accent-color: #007991;
  --margin-botom: 30px;
}

/* ==== reset ==== */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ==== blocks ==== */

.title {
  font-size: 70px;
  line-height: 84px;
  font-weight: 700;
  margin: 0;
}

.suptitle-link {
  padding-left: 19px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.suptitle-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: var(--first-accent-color);
  border-radius: 50%;
}

.suptitle-link::after {
  left: 5px;
  top: 1px;
  transform: rotate(-90deg);
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid rgb(64, 69, 75);
  z-index: 2;
}
.btn-accent-color {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 24px;
  background-color: rgb(255, 171, 94);
  color: #fff;
  z-index: 1;
  border-radius: 5px;
}
.icon-play::before {
  display: inline-block;
  transform: rotate(-90deg);
  content: "";
  position: absolute;
  left: -5px;
  top: 3px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  z-index: 2;
}

.title-supline {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-top: var(--margin-botom);
}
.title-supline::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  height: 4px;
  width: 45px;
  border-bottom: 4px dashed var(--first-accent-color);
  transform: skewX(-45deg);
}
.circle-left-link {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
  line-height: 26px;
  width: 36px;
  height: 36px;
  border: 8px solid var(--first-accent-color);
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  transition: all 0.2s ease-in-out;
}
.circle-left-link::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid var(--first-accent-color);
}
.circle-left-link:hover {
  background-color: #ccc;
  border-color: var(--second-accent-color);
}
.circle-left-link:hover:after {
  background-color: #ccc;
  border-color: var(--second-accent-color);
}
.arrow-down {
  padding-right: var(--margin-botom);
}
.arrow-down::after {
  content: "";
  position: absolute;
  right: -28px;
  top: 15px;
  height: 12px;
  width: 12px;
  background-image: url(../images/arrow-down.png);
  background-size: contain;
}
.title-second-color {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: var(--second-accent-color);
}
.check-list > li {
  padding-left: 35px;
  position: relative;
}
.check-list > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 28px;
  height: 29px;
  background-image: url(../images/check-icon.png);
  background-size: contain;
}
.list-plus > li,
.list-minus > li {
  padding-left: 40px;
  position: relative;
}
.list-plus > li::before {
  transform: translateY(18px);
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: var(--first-accent-color);
  border-radius: 20px;
}
.list-plus > li::after {
  transform: rotate(90deg);
  content: "";
  position: absolute;
  bottom: 17px;
  left: 0px;
  width: 25px;
  height: 4px;
  background-color: var(--first-accent-color);
  border-radius: 20px;
}
.list-minus > li::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 25px;
  height: 4px;
  background-color: var(--first-accent-color);
  border-radius: 20px;
}
/* ===== header ==== */

.header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 150px 0px;
  color: #fff;
  margin-bottom: 30px;
}
.wrapper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    290deg,
    rgba(0, 121, 145, 0.9) 50%,
    rgba(45, 54, 68, 0.9) 100%
  );
  background-color: transparent;
}

.header__top {
  position: fixed;
  width: 100%;
  background-color: var(--second-accent-color);
  z-index: 300;
}
.header__top-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  z-index: 200;
}
.header__logo {
  max-width: 75px;
}
.menu-burger {
  margin-left: auto;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  padding: 5px;
}
.menu-burger.active span {
  transition: all 0.2s ease-out;
}
.menu-burger.active span:nth-child(2) {
  display: none;
}
.menu-burger.active {
  justify-content: space-between;
}
.menu-burger.active span:nth-child(1),
.menu-burger.active span:nth-child(3) {
  position: absolute;
}
.menu-burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.menu-burger.active span:nth-child(3) {
  transform: rotate(135deg) translate(3px, -4px);
}
.menu-burger span {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 3px;
  border-radius: 10px;
}
.menu-burger span + span {
  margin-top: 3px;
}
.menu {
  opacity: 0;
  transform: translateY(-300px);
  display: block;
  background-color: var(--first-accent-color);
  width: 100%;
  position: absolute;
  top: 65px;
  z-index: 10;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.menu.active {
  opacity: 1;
  transform: translateY(0);
}
.menu__list {
  text-align: center;
}

.menu__list-item {
}
.menu__list-item:hover .menu__list-link {
  color: #000;
}
.menu__list-link {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 12px 0;
  transition: all 0.3s ease-in-out;
}
.menu__sublist {
}
.menu__sublist-item {
}
.menu__sublist-link {
}
.header__search {
  z-index: 1;
  padding-top: 7px;
}
.header__content {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.header__suptitle {
}
.header__suptitle-link {
  margin-bottom: 30px;
}
.header__title {
  margin-bottom: 30px;
}

.header__text {
  font-size: 20px;
  line-height: 37px;
  margin: 0;
}
.header__links {
  margin-top: 50px;
}
.header__links-item {
  position: relative;
  font-size: 15px;
  font-weight: 500;
}
.header__links-item + .header__links-item {
  margin-left: 40px;
}
.header__links-item--icon {
  padding-left: 10px;
}

/* ==== info-text ==== */

.info-box {
  margin-bottom: 80px;
}
.info-box__text {
  font-size: 20px;
  line-height: 37px;
  margin-bottom: 20px;
}

/* ==== top-tools ==== */

.top-tools {
  margin-bottom: var(--margin-botom);
}
.top-tools__title {
  margin-bottom: 50px;
}
.top-tools__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 100px 60px;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}
.top-tools__item {
  display: flex;
  flex-direction: column;
}
.top-tools__link {
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-bottom: var(--margin-botom);
}
.top-tools__item-img {
  position: relative;
}
.top-tools__item-title {
  margin-bottom: 20px;
  color: var(--second-accent-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  cursor: pointer;
}
.top-tools__item-text {
  line-height: 31px;
}
.top-tools__item-text {
  margin-bottom: var(--margin-botom);
}
.top-tools__box {
  margin: auto auto 0;
}
.top-tools__link:hover {
  transform: scale(1.05);
}

/* ==== video ==== */

.video {
  margin-bottom: 100px;
}
.video iframe {
  min-height: 650px;
  width: 100%;
  margin-bottom: 20px;
}
.video__suptext {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 50px;
}
.video__box {
  display: flex;
  justify-content: space-between;
}
.video__box-text {
  max-width: 550px;
  margin-right: var(--margin-botom);
}
.video__box-text p {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: var(--margin-botom);
}
.video__box-text a {
  color: rgb(7, 7, 7);
}
.video__box-img {
  min-width: 350px;
}

/* ==== popular-courses ==== */

.popular-courses {
  margin-bottom: 50px;
}
.popular-courses__inner {
  display: flex;
}
.popular-courses__info {
  min-width: 400px;
  margin-right: var(--margin-botom);
  border-right: 2px solid var(--first-accent-color);
}
.popular-courses__suptitle {
  color: rgb(110, 193, 228);
  margin-bottom: 20px;
  font-weight: 700;
}
.popular-courses__title {
  font-size: 30px;
  line-height: 39px;
  color: var(--second-accent-color);
}
.popular-courses__desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.popular-courses__text {
  font-size: 17px;
  line-height: 30px;
  max-width: 420px;
  padding-bottom: var(--margin-botom);
}
.popular-courses__link {
  margin-left: 50px;
}

/* ==== benefits ==== */

.benefits {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 100px;
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  position: relative;
  max-width: 213px;
  color: #fff;
}
.benefits__item-title {
  margin-bottom: var(--margin-botom);
}
.title-supline {
}
.benefits__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}
.benefits__box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  position: relative;
  margin-bottom: -80px;
  padding: 40px 40px 30px;
}
.benefits__box-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: rgb(22, 22, 22);
  margin-bottom: var(--margin-botom);
}
.benefits__box-subtitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--second-accent-color);
  margin-bottom: 50px;
}
.benefits__box-link {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  position: relative;
}
.benefits__box-link::before {
  border-top: 5px solid #000;
}

/* ==== questions ==== */

.questions {
  margin-bottom: 100px;
}
.questions__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.questions__box {
  max-width: 520px;
}
.questions__box-suptitle {
  color: var(--second-accent-color);
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: var(--margin-botom);
}
.questions__box-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: var(--margin-botom);
  color: #000;
}
.questions__box-text {
  font-size: 18px;
  line-height: 33px;
}
.questions__box-text a {
  color: rgb(7, 7, 7);
}
.questions__box-text + .questions__box-text {
  margin-top: var(--margin-botom);
}
.questions__box-item {
  display: flex;
  margin-bottom: var(--margin-botom);
}
.questions__box-item-link {
  margin-left: auto;
  margin-right: 20px;
}
.questions__box-item-desc {
}
.questions__box-item-title {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(7, 7, 7);
}
.questions__box-item-text {
  font-size: 18px;
  line-height: 30px;
}

/* ==== posts ==== */

.posts {
  margin-bottom: 50px;
}
.posts__list {
  padding-bottom: var(--margin-botom);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--margin-botom);
  border-bottom: 1px solid #000;
}
.posts__list-item {
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
}
.posts__list-item:hover {
  box-shadow: rgb(0 0 0 / 20%) 5px 10px 20px 0px;
}
.posts__list-img {
  object-fit: cover;
  width: 100%;
  max-height: 220px;
  margin-bottom: var(--margin-botom);
}
.posts__list-desc {
  padding-bottom: 15px;
}
.posts__list-title {
  padding: 0 30px;
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  color: rgb(84, 89, 95);
  margin-bottom: var(--margin-botom);
}
.posts__list-text {
  padding: 0 30px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: var(--margin-botom);
}
.posts__list-link {
  padding: 0 30px;
  margin-bottom: 15px;
  color: var(--first-accent-color);
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: var(--margin-botom);
  border-bottom: 1px solid rgb(223, 222, 222);
}
.posts__list-date {
  padding: 0 30px;
  font-size: 12px;
}

/* ==== partners ==== */

.partners {
  text-align: center;
  margin-bottom: 100px;
}
.partners__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--first-accent-color);
  margin-bottom: var(--margin-botom);
}
.partners__img {
  display: block;
  margin-bottom: var(--margin-botom);
  padding-bottom: var(--margin-botom);
  border-bottom: 1px solid #000;
}
.partners__img img {
  max-width: 266px;
}
.partners__link {
  display: inline-block;
}
.partners__link img {
  max-width: 50px;
}
.form-wrapper {
}
.form-top-line {
  margin: 0 auto 40px;
  max-width: 1280px;
  background-color: rgb(197, 195, 195);
  height: 1px;
}
.main-form {
  margin-bottom: var(--margin-botom);
}
.main-form__title {
  font-weight: 400px;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
  color: #000;
}
.main-form__text {
  font-size: 15px;
  line-height: 27px;
  color: #000;
  margin-bottom: 50px;
}
.main-form__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-form__item {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
}
.main-form__input-textarea {
  min-height: 250px;
  width: 100%;
  border-color: #dddee0;
  resize: none;
  padding: 20px;
  background-color: #fafafa;
  margin-bottom: 10px;
}
.main-form__inner > input {
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 31%;
  padding: 12px 20px;
  border-color: #dddee0;
  border-style: solid;
  background-color: #fafafa;
  font-size: 15px;
}
.main-form__inner > input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.main-form__input-name {
}
.main-form__input-name::placeholder {
}
.main-form__input-email {
}
.main-form__input-site {
}
.main-form__input-saveme {
  margin-right: 20px;
}
.main-form__box {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-botom);
  width: 100%;
}
.main-form__input-text {
  font-size: 15px;
  line-height: 27px;
}
input.main-form__submit {
  font-size: 15px;
  line-height: 27px;
  padding: 10px 15px;
  width: 128px;
  min-width: 0;
  border: none;
  background-color: #000;
  color: #fff;
}
.footer {
  border-top: 2px solid #000;
  background-color: rgb(240, 240, 240);
}
.footer__inner {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  max-width: 210px;
}
.footer__item p,
.footer__item li {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.footer__item a {
  color: #808285;
}
.footer__item-title {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: var(--margin-botom);
  font-weight: 400;
  color: #000;
}
.footer__item-text {
  font-size: 15px;
  line-height: 28px;
}

.footer__item-list {
}

.footer__copy {
  height: 108px;
  background-color: var(--second-accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
}

/* ==== description-tools ==== */

.description-tools {
  font-size: 18px;
  line-height: 33px;
  color: #000;
  margin-bottom: 60px;
}
.description-tools__title {
  margin-bottom: 50px;
}

/* ==== best-projects ==== */

.best-projects {
  margin-bottom: 50px;
}
.best-projects__list {
  font-size: 21px;
  line-height: 39px;
  color: #000;
}
.remote-projects {
}

.remote-projects__title {
}

.remote-projects__list {
}

.remote-projects__list-item {
  color: #000;
  display: flex;
  flex-direction: column;
}
.remote-projects__list-img {
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: var(--margin-botom);
}
.remote-projects__list-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: var(--margin-botom);
  color: var(--second-accent-color);
}
.remote-projects__list-text {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: var(--margin-botom);
}
.remote-projects__compare-box {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  line-height: 39px;
  margin-bottom: var(--margin-botom);
}
.remote-projects__compare-box-list {
}
.remote-projects__link{
  align-self: center;
}

/* ====== adptive ======= */
@media (max-width: 1100px) {
  .video iframe {
    min-height: 500px;
  }
  .popular-courses__link {
    min-width: 126px;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 57px;
    line-height: 77px;
  }
  .header {
    height: 80vh;
  }
  .header__content {
    max-width: 730px;
    height: 80vh;
  }
  .header__text {
    font-size: 18px;
  }
  .top-tools__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 40px;
  }
}
@media (max-width: 965px) {
  .benefits__inner {
    flex-wrap: wrap;
  }
  .benefits__item {
    margin-bottom: 20px;
  }
  .popular-courses__info {
    min-width: 250px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__item {
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .footer__item:nth-child(4) {
    max-width: 100%;
    width: 100%;
  }
  .footer__item-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 850px) {
  .video {
    margin-bottom: 30px;
  }
  .video iframe {
    min-height: 350px;
  }
  .video p {
    font-size: 17px;
    line-height: 25px;
  }
  .video__box {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .video__box-img img {
    width: 50%;
    margin-bottom: 20px;
  }
  .benefits {
    margin-bottom: 50px;
  }
  .questions__inner {
    display: block;
  }
  .questions__box-suptitle {
    width: 100%;
  }
  .questions__box {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .questions__box-title {
    margin-bottom: 10px;
  }
  .questions__box-text {
    font-size: 16px;
    line-height: 27px;
  }
  .posts__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .header {
    height: 70vh;
  }
  .header__content {
    height: 80vh;
  }
  .header__text {
    font-size: 15px;
    line-height: 27px;
  }
  .header__suptitle-link {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .info-box__text {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 56px;
  }
  .popular-courses__inner {
    text-align: center;
    display: block;
  }
  .popular-courses__info {
    border: none;
  }
  .popular-courses__desc {
    display: block;
  }
  .popular-courses__text {
    margin: 0 auto 10px;
    padding-bottom: 0;
  }
  .popular-courses__title {
    margin-bottom: 20px;
  }
  .popular-courses__suptitle {
    margin-bottom: 10px;
  }
  .popular-courses__link {
    margin-left: 0;
  }
  .footer__inner {
    flex-direction: column;
    padding: 30px 0;
  }
  .footer__item {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 730px) {
  .benefits__inner {
    flex-direction: column;
  }
  .benefits__item {
    max-width: 100%;
  }
  .benefits__item-title {
    margin-bottom: 8px;
  }
  .benefits__item-text {
    font-size: 15px;
    line-height: 22px;
  }
}
@media (max-width: 660px) {
  .top-tools__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px 40px;
  }
  .top-tools__link-img {
    width: 65%;
  }
  .top-tools__item {
    align-items: center;
  }
  .top-tools__link {
    text-align: center;
    margin-bottom: 20px;
  }
  .top-tools__item-title {
    margin-bottom: 10px;
  }
  .top-tools__item-text {
    line-height: 26px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .questions__box-title {
    font-size: 26px;
    line-height: 31px;
  }
  .questions {
    margin-bottom: 50px;
  }
  .posts__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .posts__list-img {
    min-height: 300px;
  }
  .partners {
    margin-bottom: 50px;
  }
  .main-form__text {
    margin-bottom: 10px;
  }
  .main-form__inner {
    display: block;
  }
  .main-form__inner > input {
    min-width: 100%;
    margin-bottom: 10px;
  }
  .main-form__input-textarea {
    min-height: 125px;
  }
  .main-form__input-text {
    font-size: 15px;
    line-height: 20px;
  }
  input.main-form__submit {
    min-width: max-content;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .header {
    height: 80vh;
  }
  .header__content {
    height: 80vh;
  }
  .title {
    font-size: 34px;
    line-height: 47px;
    margin-bottom: 18px;
  }
  .benefits__box {
    width: 100%;
  }
  .benefits__box-title {
    margin-bottom: 15px;
  }
  .benefits__box-subtitle {
    margin-bottom: 20px;
  }
  .footer__copy p {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__copy p span {
    margin-bottom: 20px;
  }
  .video iframe {
    min-height: 230px;
  }
  .video__box-img {
    min-width: 100%;
  }
}

@media (max-width: 360px) {
  .header__links-item + .header__links-item {
    margin-left: 20px;
  }
}
