*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  color: #808285;
  overflow-anchor: none;
}
.container {
  max-width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ==== variable ==== */
:root {
  --first-accent-color: #ffab5e;
  --second-accent-color: #007991;
  --margin-botom: 30px;
}

/* ==== reset ==== */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

/* ==== blocks ==== */

.title {
  font-size: 70px;
  line-height: 84px;
  font-weight: 700;
  margin: 0;
}

.suptitle-link {
  padding-left: 19px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.suptitle-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: var(--first-accent-color);
  border-radius: 50%;
}

.suptitle-link::after {
  left: 5px;
  top: 1px;
  transform: rotate(-90deg);
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid rgb(64, 69, 75);
  z-index: 2;
}
.btn-accent-color {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 24px;
  background-color: rgb(255, 171, 94);
  color: #fff;
  z-index: 1;
  border-radius: 5px;
}
.icon-play::before {
  display: inline-block;
  transform: rotate(-90deg);
  content: "";
  position: absolute;
  left: -5px;
  top: 3px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  z-index: 2;
}

.title-supline {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-top: var(--margin-botom);
}
.title-supline::after {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  height: 4px;
  width: 45px;
  border-bottom: 4px dashed var(--first-accent-color);
  transform: skewX(-45deg);
}
/* ===== header ==== */

.header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 150px 0px;
  color: #fff;
  margin-bottom: 30px;
}
.wrapper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    290deg,
    rgba(0, 121, 145, 0.9) 50%,
    rgba(45, 54, 68, 0.9) 100%
  );
  background-color: transparent;
}

.header__top {
  position: fixed;
  width: 100%;
  background-color: var(--second-accent-color);
  z-index: 100;
}
.header__top-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header__logo {
  max-width: 75px;
}
.menu-burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  padding: 5px;
}
.menu-burger span {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 3px;
  border-radius: 10px;
}
.menu-burger span + span {
  margin-top: 3px;
}
.menu {
  display: none;
  background-color: var(--first-accent-color);
  width: 100%;
  position: absolute;
  top: 80px;
  z-index: 10;
  opacity: 1;
}
.menu__list {
  text-align: center;
}

.menu__list-item {
}
.menu__list-link {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 12px 0;
}
.menu__sublist {
}
.menu__sublist-item {
}
.menu__sublist-link {
}
.header__search {
  z-index: 1;
}
.header__content {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 30px;
}
.header__suptitle {
}
.header__suptitle-link {
  margin-bottom: 30px;
}
.header__title {
  margin-bottom: 30px;
}

.header__text {
  font-size: 20px;
  line-height: 37px;
  margin: 0;
}
.header__links {
  margin-top: 50px;
}
.header__links-item {
  position: relative;
  font-size: 15px;
  font-weight: 500;
}
.header__links-item + .header__links-item {
  margin-left: 40px;
}
.header__links-item--icon {
  padding-left: 10px;
}

/* ==== info-text ==== */

info-box {
}
.info-box__text {
  font-size: 20px;
  line-height: 37px;
  margin-bottom: 100px;
}

/* ==== top-tools ==== */

.top-tools {
  margin-bottom: var(--margin-botom);
}
.top-tools__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 100px 60px;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}
.top-tools__item {
  display: flex;
  flex-direction: column;
}
.top-tools__link {
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-bottom: var(--margin-botom);
}
.top-tools__item-img {
  position: relative;
}
.top-tools__item-title {
  margin-bottom: 20px;
  color: var(--second-accent-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  cursor: pointer;
}
.top-tools__item-text {
  line-height: 31px;
}
.top-tools__item-text {
  margin-bottom: var(--margin-botom);
}
.top-tools__box {
  margin: auto auto 0;
}
.top-tools__link:hover {
  transform: scale(1.05);
}

/* ==== video ==== */

.video {
  margin-bottom: 100px;
}
.video iframe {
  min-height: 650px;
  width: 100%;
  margin-bottom: 20px;
}
.video__suptext {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 50px;
}
.video__box {
  display: flex;
  justify-content: space-between;
}
.video__box-text {
  max-width: 550px;
  margin-right: var(--margin-botom);
}
.video__box-text p {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: var(--margin-botom);
}
.video__box-text a {
  color: rgb(7, 7, 7);
}
.video__box-img {
  min-width: 350px;
}
.popular-courses {
  margin-bottom: 50px;
}
.popular-courses__inner {
  display: flex;
  /* justify-content: space-between; */
}
.popular-courses__info {
  min-width: 400px;
  margin-right: var(--margin-botom);
  border-right: 2px solid var(--first-accent-color);
}
.popular-courses__suptitle {
  color: rgb(110, 193, 228);
  margin-bottom: 20px;
  font-weight: 700;
}
.popular-courses__title {
  font-size: 30px;
  line-height: 39px;
  color: var(--second-accent-color);
}
.popular-courses__desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.popular-courses__text {
  font-size: 17px;
  line-height: 30px;
  max-width: 420px;
  padding-bottom: var(--margin-botom);
}
.popular-courses__link {
  margin-left: 50px;
}
.benefits {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 100px;
}

.benefits__inner {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  position: relative;
  max-width: 213px;
  color: #fff;
}
.benefits__item-title {
  margin-bottom: var(--margin-botom);
}
.title-supline {
}
.benefits__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}
.benefits__box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 380px;
  position: relative;
  margin-bottom: -80px;
  padding: 40px 40px 30px;
}
.benefits__box-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: rgb(22, 22, 22);
  margin-bottom: var(--margin-botom);
}
.benefits__box-subtitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--second-accent-color);
  margin-bottom: 50px;
}
.benefits__box-link {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  position: relative;
}
.benefits__box-link::before{
 border-top: 5px solid #000;
}
.questions {
}
.questions__inner {
}
.questions__box {
}
.questions__box-suptitle {
}
.questions__box-title {
}
.questions__box-text {
}
.questions__box-list {
}
.questions__box-item {
}
.questions__box-item-link {
}
.questions__box-item-title {
}
.questions__box-item-text {
}
